<div class='jumbotron jumbotron-fluid'>
	<div class='container'>
		<img class='header-image' src='http://legacy.shadowandact.com/wp-content/uploads/2017/01/NewsOneNowSplash_rvsd.jpg' alt='newsonenow' style='position: relative; width: 100%;'>
		<h1 style='position: absolute; top: 358px; color: white;'><span>News One<br /> Now Scraper</span></h1>
		<button type='button' class='btn btn-default' id='scrapeBtn' style="position: absolute; top: 525px;">Get the news</button>
	</div>
</div>